 <ion-view view-title="Welcome" hide-nav-bar="true" hide-back-button="true" class="ion-walkthrough pane">
  <ion-content class="padding">
      <div  class="walkthrough-title-slider">
    		<h1 class="walkthrough-title" ng-bind-html="slideDetails[slide.current].title"></h1>
    	</div>
      <div class="mobile-frame">
      <ion-slide-box pager="true" dir="{{dir}}" on-slide-changed = "slide.slideChanged(index)"
    			class = "screen-slider"
    			pager-click = "slide.pagerClick(index)"
    			delegate-handle = "slide-handle">
			    <ion-slide ng-repeat="slide in slideDetails">
			      <img ng-src="{{slide.image}}" >
                    <div ng-if="slide.htmls" class="walkthrough-html text-center" ng-bind-html="slide.htmls"></div>
			    </ion-slide>
                     
			  </ion-slide-box>
          </div>
  </ion-content>
</ion-view>