<?xml version='1.0' encoding='utf-8'?>
<widget id="com.helloradio.sms" 
version="0.0.1" xmlns="http://www.w3.org/ns/widgets" 
xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Hello Radio SMS</name>
  <description>
        Hello Radio SMS
    </description>
  <author email="fabioweydson@gmail.com" href="http://example.com.com/">
      Fabio Weydson
    </author>

  <content src="index.html"/>
<preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="SplashScreen" value="screen" />
    <preference name="fullscreen" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="1.0.0" />
    <gap:plugin name="cordova-plugin-device" source="npm"/> 
    <gap:plugin name="cordova-plugin-file" source="npm" /> 
    <gap:plugin name="cordova-plugin-x-toast" source="npm" /> 
    <gap:plugin name="cordova-plugin-dialogs" source="npm" />
    <gap:plugin name="cordova-plugin-globalization" source="npm" />
    <gap:plugin name="cordova-plugin-media" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" /> 
    <gap:plugin name="cordova-plugin-network-information" source="npm" /> 
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"  /> 
    <gap:plugin name="cordova-plugin-disable-ios11-statusbar" source="npm" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm"  />
    <gap:plugin name="cordova-plugin-background-mode" source="npm"/>
    <gap:plugin name="cordova-plugin-sms" source="npm" />

    <config-file target="AndroidManifest.xml" parent="/*">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
</config-file>


  </platform>

 


    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>